<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssafyhome.bookmark.dao.BookmarkMapper">

    <insert id="addHouseBookmark" parameterType="map">
        INSERT INTO favorite_house
        VALUES(#{userSeq}, #{aptSeq})
    </insert>
    
    <delete id="deleteHouseBookmark" parameterType="map">
        DELETE
        FROM favorite_house
        WHERE user_seq = #{userSeq} AND apt_seq = #{aptSeq}
    </delete>

    <select id="getHouseList" parameterType="map">
        SELECT hi.*,
               (SELECT COUNT(*)
                FROM house_deal
                WHERE house_deal.apt_seq = hi.apt_seq) AS deal_cnt,
               (SELECT FORMAT(ROUND(AVG(CAST(REPLACE(deal_amount, ',', '') AS DOUBLE)), 1), 0)
                FROM house_deal
                WHERE house_deal.apt_seq = hi.apt_seq) AS avg_deal_amount
        FROM favorite_house AS fs
                 JOIN house_info AS hi
                      ON fs.apt_seq = hi.apt_seq
        WHERE fs.user_seq = #{userSeq};
    </select>

    <select id="getLocationList" parameterType="map">
        SELECT DISTINCT
            fs.dong_code,
            dc.sido_name,
            dc.gugun_name,
            dc.bdong_name AS dong_name
        FROM
            favorite_spot AS fs
                JOIN dong_code AS dc ON fs.dong_code = dc.bdong_code
        WHERE
            fs.user_seq = #{userSeq};
    </select>

    <insert id="addLocationBookmark" parameterType="map">
        INSERT INTO favorite_spot
        VALUES(#{dongCode}, #{userSeq})
    </insert>

    <delete id="deleteLocationBookmark" parameterType="map">
        DELETE
        FROM favorite_spot
        WHERE dong_code = #{dongCode} AND user_seq = #{userSeq}
    </delete>

    <select id="getCustomSpotList" parameterType="map">
        SELECT *
        FROM custom_spot
        WHERE user_seq = #{userSeq}
    </select>

    <insert id="addCustomSpotBookmark" parameterType="map">
        INSERT INTO custom_spot(spot_name, jibun, road_nm, latitude, longitude, user_seq)
        VALUES(#{customSpot.spotName}, #{customSpot.jibun}, #{customSpot.roadNm}, #{customSpot.latitude}, #{customSpot.longitude}, #{userSeq})
    </insert>

    <delete id="deleteCustomSpotBookmark" parameterType="map">
        DELETE FROM custom_spot
        WHERE user_seq = #{userSeq} AND spot_seq = #{customSeq}
    </delete>
</mapper>