<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssafyhome.model.dao.mapper.HouseMapper">
    <select id="getHouseInfo" parameterType="map" resultType="com.ssafyhome.model.dto.house.HouseDto">
        SELECT
            apt_seq,
            sgg_cd,
            umd_cd,
            umd_nm,
            jibun,
            road_um_sgg_cd,
            road_nm,
            road_nm_bonbun,
            road_nm_bubun,
            apt_nm,
            build_year,
            latitude,
            longitude,
            (SELECT COUNT(*)
                FROM house_deal
                WHERE house_deal.apt_seq = house_info.apt_seq) AS deal_cnt,
            (SELECT FORMAT(ROUND(AVG(CAST(REPLACE(deal_amount, ',', '') AS DOUBLE)), 1), 0)
                FROM house_deal
                WHERE house_deal.apt_seq = house_info.apt_seq) AS avg_deal_amount
        FROM house_info
        WHERE CONCAT(sgg_cd, umd_cd) = #{dongCode}
        <if test="keyWord != null and keyWord != ''">
            AND apt_nm LIKE CONCAT('%', #{keyWord}, '%')
        </if>
    </select>

    <select id="getHouseDeals" resultType="com.ssafyhome.model.dto.house.HouseDealsDto">
        SELECT *
        FROM house_deal
        WHERE apt_seq = #{houseSeq}
            LIMIT #{limit} OFFSET #{offset};
    </select>
    <insert id="insertHouseInfo" parameterType="java.util.List">
        INSERT INTO house_info
        VALUES
        <foreach
                collection="list"
                item="item"
                separator=",">
            (#{item.houseSeq},#{item.sggCd},#{item.umdCd},#{item.umdNm},#{item.jibun},#{item.roadNmSggCd},#{item.roadNm},#{item.roadNmBonbun},#{item.roadNmBubun},#{item.aptNm},#{item.buildYear},#{item.latitude},#{item.longitude})
        </foreach>
    </insert>
    <insert id="insertHouseDeal" parameterType="java.util.List">
        INSERT INTO house_deal
        VALUES
        <foreach
                collection="list"
                item="item"
                separator=",">
            (#{item.dealSeq},#{item.aptSeq},#{item.aptDong},#{item.floor},#{item.dealYear},#{item.dealMonth},#{item.dealDay},#{item.exclusiveUseAr},#{item.dealAmount})
        </foreach>
    </insert>
    <select id="getSidoGugun" parameterType="string" resultType="com.ssafyhome.model.entity.mysql.DongCodeEntity">
        SELECT DISTINCT sido_name, gugun_name, bdong_code, bdong_name
        FROM dong_code
        WHERE bdong_code = #{dongCode}
    </select>
    <select id="getLawdCdList" resultType="Integer">
        SELECT DISTINCT SUBSTR(bdong_code, 1, 5)
        FROM dong_code
        WHERE bdong_code BETWEEN #{startCd} AND #{endCd}
    </select>
    <select id="isExistHouseInfo" resultType="Boolean">
        SELECT COUNT(*) > 0
        FROM house_info
        WHERE apt_seq = #{houseSeq}
    </select>
    <select id="getExistAptSeq" resultType="String">
        SELECT apt_seq
        FROM house_info
        WHERE sgg_cd = #{sggCode}
    </select>
</mapper>