<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssafyhome.notice.dao.NoticeMapper">
    <insert id="insert"
            parameterType="com.ssafyhome.notice.entity.NoticeEntity">
        INSERT INTO notice (notice_title, notice_content)
        VALUES (#{noticeTitle}, #{noticeContent})
    </insert>

    <update id="update"
            parameterType="com.ssafyhome.notice.entity.NoticeEntity">
        UPDATE notice
        SET
            notice_title = #{noticeTitle},
            notice_content = #{noticeContent}
        WHERE
            notice_seq = #{noticeSeq}
    </update>

    <delete id="deleteBySeq"
            parameterType="int">
        DELETE FROM notice
        WHERE notice_seq = #{noticeSeq}
    </delete>

    <select id="selectBySeq"
            parameterType="int"
            resultType="com.ssafyhome.notice.entity.NoticeEntity">
        SELECT *
        FROM notice
        WHERE notice_seq = #{noticeSeq}
    </select>

    <select id="selectByPage"
            parameterType="int"
            resultType="com.ssafyhome.notice.entity.NoticeEntity">
        SELECT *
        FROM notice
        LIMIT #{page}, 10
    </select>
</mapper>