<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssafyhome.model.dao.mapper.SpotMapper">
    <insert id="insertSpots"
            parameterType="java.util.List">
        INSERT IGNORE INTO spot
        VALUES
        <foreach
                collection="list"
                item="item"
                separator=",">
            (#{item.spotSeq},#{item.spotName},#{item.spotType},#{item.sggCd},#{item.umdCd},#{item.umdNm},#{item.jibun},#{item.roadNm},#{item.latitude},#{item.longitude})
        </foreach>
    </insert>
    <insert id="insertNearestSpots"
            parameterType="java.util.List">
        INSERT INTO nearest_spot
        VALUES
        <foreach
                collection="list"
                item="item"
                separator=",">
                (#{item.aptSeq},#{item.categoryName},#{item.spotName},#{item.latitude},#{item.longitude})
        </foreach>

    </insert>
    <select id="getCategories"
            resultType="com.ssafyhome.model.entity.mysql.CategoryEntity">
        SELECT *
        FROM category;
    </select>

    <select id="getSpotsByCategory"
            resultType="com.ssafyhome.model.entity.mysql.SpotEntity">
        SELECT *
        FROM spot
        WHERE concat(sgg_cd,umd_cd) = #{dongCode} AND spot_type = #{category}
    </select>
    <select id="getCustomSpotByUser"
            resultType="com.ssafyhome.model.entity.mysql.CustomSpotEntity">
        SELECT *
        FROM custom_spot
        WHERE user_seq = #{userSeq}
    </select>
    <select id="getNearestSpotByStartPoint"
            resultType="com.ssafyhome.model.entity.mysql.NearestSpotEntity">
        SELECT *
        FROM nearest_spot
        WHERE apt_seq = #{aptSeq}
    </select>
    <select id="getTMapPointByAptSeq"
            resultType="com.ssafyhome.model.dto.api.TMapPoint">
        SELECT apt_nm as name, longitude as x, latitude as y
        FROM house_info
        WHERE apt_seq = #{apt_seq}

    </select>
</mapper>
